@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Lora|Miriam+Libre');
@import url("https://use.typekit.net/yqw7qlf.css");

// COLORS //
  $primary-color: #0e4bff; //cobalt blue is so pretty//
  $secondary-color: #F3F315; //

  $black: #000000;
  $white: #ffffff;

  $mid-grey: #767676; // the lightest shade of grey you can get away with, #a11y
  $light-grey: #dddddd; // for backgrounds only

// TYPOGRAPHY //

  $sans-serif: "motiva-sans", Helvetica, sans-serif;
  $serif: "Lora", Georgia, serif;
  $mono: "Source Code Pro", Courier, mono;

  $thin: 200;
  $light: 300;
  $regular: 400;
  $medium: 500;
  $bold: 700;

  body {
      font-family: $sans-serif;
      font-weight: $light;
      font-size: 20px; //The smallest it should be!
      line-height: 1.5;
      color: $black;
      padding: 2rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.25;
    color: $primary-color;
    font-family: $sans-serif;
  }

  h2 {
    font-family: $sans-serif;
  }

  //DIV STYLINGS//



.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    // grid-template-areas: a thing to explore later; cool a a b type formatting
    //   "header"
    //   "nav"
    //   "content"
    //   "footer"
}

.item {
  background-color: $secondary-color;
  min-height: 400px;
  padding: 1rem;
}

// MEDIA QUERIES //

@media screen and (min-width: 300px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .intro {
    grid-column: span 1;
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .intro {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
