@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Lora|Karla|Assistant');
@import url("https://use.typekit.net/nan0dse.css");
@import url("https://use.typekit.net/yqw7qlf.css");

/*@import 'partials/typography';
*/

// COLORS //
  $primary-color: #0e4bff; //cobalt blue is so pretty//
  $secondary-color: #F3F315; //

  $black: #222222;
  $white: #ffffff;
  $beige: #F5F4EE;

  $dark-grey: #4F4F4F;
  $mid-grey: #767676; // the lightest shade of grey you can get away with, #a11y
  $light-grey: #eeeeee; // for backgrounds only


  $fuschia: #B2098B;
  $yellow: #FFD926; /*#FFBC0E; #ffd400;*/
  $red: #FF5327;
  $pink: #FF0DD1;
  $blush-pink: #FFF3F3;
  $true-blue: #0531B2; 
  $royal-blue: #2159FE;
  $gold: #FFBC0E;

  $curry: #cbab00;
  $dark-curry: #a88d00;
  $dusty-rose: #cbab99;

// TYPOGRAPHY // 
  $sans-serif: "Karla", Helvetica, sans-serif;
  $serif: "Lora", Georgia, serif;
  $mono: "Source Code Pro", Courier, mono;

  $thin: 200;
  $light: 300;
  $regular: 400;
  $medium: 500;
  $bold: 700;

  body {
      font-family: $sans-serif;
      font-weight: $thin;
      font-size: 20px; //The smallest it should be!
      line-height: 1.45;
      color: $black;
      margin: 0;
      padding: 0;
  }

  h1 {
   line-height: 1.25;
   font-family: $serif;
   font-weight: $light;
   }

  h2 {
  font-family: $sans-serif;
  color: $dark-grey;
  font-size: 1em;
  font-weight: $thin;
  }

  h3 {
  font-family: $serif;
  font-size: 1.35em;
  font-weight: $light;
  }

  h4 {
   text-transform: uppercase;
   font-size: .75em;
   font-weight: $thin;
   letter-spacing: .15em;
   border-right: 1px solid $light-grey;
   overflow: hidden;
  }

  h4:after {
  content: "";
  border-bottom: 1px solid $light-grey;
  display: inline-block;
  width:100%; height:100%;
  margin-right:-100%;
  vertical-align: middle;
  }

  .triptych h4 {
    border-color: $pink;
  }

  .triptych h4:after {
  content: "";
  border-bottom: 1px solid $pink;
  display: inline-block;
  width:100%; height:100%;
  margin-right:-100%;
  vertical-align: middle;
  }

  h5 {
    font-family: $serif;
    font-weight: $regular;
    font-size:1.25em;
  }


  p {
    color: $mid-grey;

  &.emojinisimo {
      font-size: 5em;
    }

  &.comingsoon {
      color: $mid-grey;
      text-transform: uppercase;
      font-size: .8em;
      letter-spacing: .05em;
      text-decoration: none;
      padding: 10px 0;
      margin-right: 2em;
      transition: all .2s ease-in;
    }
  }

  .bold {
    font-weight: $bold;
  }

  .details {
    text-transform: uppercase;
    font-size: .8em;
    color: $dark-grey;
    letter-spacing: .025em;
  }
  .wip {
     font-style: italic;
     color: $mid-grey;
   }

  a {
    color: $primary-color;
    text-transform: uppercase;
    font-size: .8em;
    line-height: 2.5;
    letter-spacing: .05em;
    text-decoration: none;
    padding: 10px 0;
    margin-right: 2em;
    border-bottom: 1px solid $primary-color;
    transition: all .2s ease-in;
    content: "";

    &:hover {
      border-bottom: 5px solid $pink;
      
    }

    &:hover:after {
      color: $pink;
      border-width: 100%;
    }

    &:after {
        content: "\2197";
        margin-left: 1em;
        font-size: .75em;
        color: $primary-color;
        text-decoration: none;
        transition: all .2s ease-in;
    }

    &.intext {
      text-decoration: none;
      text-transform: none;
      font-size: inherit;
      margin: 0;
      padding: 0;
    }

    &.intext:after {
      content: "";
      margin: 0;
    }

  }

  ul {
    list-style: none outside;
    padding: 0;
    line-height: 1.3;
  }

  li {
    font-size: .9em;
    margin-bottom: 10px;

        &.subtitle {
      font-family: Lora;
      color: $fuschia;
      margin-top: 1.5em;
    }

  }
// BASE //

img {
  width: 100%;
}

  // COMPONENTS //

  button {
    font-family: inherit;
    text-transform: uppercase;
    font-size: .75em;
    padding: 1em;
    margin: 1em 1em 0 0;

    &.primary {
    border: 1px solid $white;
    background: $primary-color;
    color: $white;
    }

    &.secondary {
    border: 1px solid $primary-color;
    background: $white;
    color: $primary-color;
    }
  }

  //DIV STYLINGS//

.wrapper {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr [col]);
    // grid-template-areas: a thing to explore later; cool a a b type formatting
    //   "header"
    //   "nav"
    //   "content"
    //   "footer"
}

.wrapperhero {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr [col]);
  grid-template-rows: repeat (2);
  grid-column-gap: 1em;
  grid-row-gap: 2em;
    // grid-template-areas: a thing to explore later; cool a a b type formatting
    //   "header"
    //   "nav"
    //   "content"
    //   "footer"
}

.container {
  padding: 4em;
  margin: 0;
}

.logo {
  margin: 1em 0;
  width: 40px;
  a {
  border-bottom: none;
}
  a::after {
    content: none;
 }

}
.item {
/*  padding: 1em;*/
}

#separator {
  margin:0;
  padding:0;
}

.zigzag {
    height: 5em;
    background: 
                linear-gradient(45deg, transparent 50%, $primary-color 50%),
                linear-gradient(90deg, transparent 50%, $yellow 50%),
                linear-gradient(135deg, $primary-color 50%, $curry 50%), 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag2 {
    height: 5em;
    background: linear-gradient(-45deg, transparent 74%, $curry 75%),
                linear-gradient(45deg, transparent 74%, $yellow 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag3 {
    height: 5em;
    background: 
                linear-gradient(45deg, transparent 50%, $white 50%),
                linear-gradient(90deg, transparent 50%, $light-grey 50%),
                linear-gradient(135deg, $white 50%, $mid-grey 50%), 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag4 {
    height: 5em;
    background: linear-gradient(-45deg, transparent 74%, $mid-grey 75%),
                linear-gradient(45deg, $blush-pink 74%, $light-grey 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

/*.zigzag3 {
    height: 5em;
    background: linear-gradient(-45deg, transparent 74%, $pink 75%),
                linear-gradient(-135deg, transparent 74%, red 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
        overflow: hidden;
}*/

#hero {
  background: $primary-color;
  padding-bottom: 2em;
}

#intro {
    h1, p {
      color: $white;
    }

  a {
    color: $white;
    border-bottom: 2px solid $blush-pink;
    transition: all .2s ease-in;

    &:hover {
      border-bottom: 5px solid $pink;
      border-width: 100%;
    }

    &:hover:after {
      color: $pink;
    }

    &:after {
        color: $primary-color;
        text-decoration: none;
    }
  }
  
}

#experience {
  background: $blush-pink;
  padding-top: 0;
  p {
    color: $black;
  }
/*  a {
    color: $pink;
    border-bottom: 1px solid $pink;
    transition: all .2s ease-in;

    &:hover {
      border-bottom: 5px solid $primary-color;
      color: $primary-color;
    }

    &:hover:after {
      color: $primary-color;
    }

    &:after {
        content: "\2197";
        margin-left: 1em;
        font-size: .75em;
        color: $pink;
        text-decoration: none;
        transition: all .2s ease-in;
    }
  }*/
}



// NAVIGATION //
nav {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);

  ul {
    text-align: right;
  }

  li {
    display: inline;
    margin-right: 1em;

    a {
      margin: 0;
      font-size: 1em;
      letter-spacing: normal;
      color: $black;
      text-decoration: none;
      font-weight: $bold;
    }

    a:hover {
      border-bottom: 5px solid $pink;
      border-width: 100%;
    }

    a::after {
      content: "";
    }
  }
}


//////// WORK PAGE STYLINGS //

// HERO STYLINGS //

#workhero {
  background: #cbab00;
/* IN CASE I EVER WANT TO HAVE SPLIT IMAGES
 background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 80%, #cbab00), color-stop( 80%, #cbab00), color-stop( 20%, #ffffff) );
  background-image: -webkit-linear-gradient(top, #cbab00 80%, #cbab00 80%, #ffffff 20%);     
  background-image:    -moz-linear-gradient(top, #cbab00 80%, #cbab00 80%, #ffffff 20%);  
  background-image:         linear-gradient(#cbab00 80%, #cbab00 80%, #ffffff 20%); 
*/
}

#workintro {
  h2 {
  color: $black;
  }
}

// WORK STYLINGS //

#lovelust {
  background: #f12711;  /*fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f5af19, #f12711);
  background: linear-gradient(to bottom, #f5af19, #f12711);
  // text-align: center;
}

#skillshare {
  background:  #a6c1ee;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fbc2eb, #a6c1ee);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fbc2eb, #a6c1ee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#butterflies {
  background: #f5576c;
  background: linear-gradient(120deg, #f093fb, #f5576c);
  background: -webkit-linear-gradient(120deg, #f093fb, #f5576c);

}

#tbell {
  background: #B8B8FF;
  background-image: linear-gradient(120deg, #D4D4FF, #B8B8FF);
  background-image: -webkit-linear-gradient(120deg, #D4D4FF, #B8B8FFb);
}

#salondoux {
  background: #fdf2ee;
  background: -webkit-linear-gradient(to right, #fdf2ee, #ffdde1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdf2ee, #ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#ucx {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#cup {
  background: #9D50BB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#lovelustimg, #butterfliesimg, #skillshareimg, #salondouximg {
  padding: 0 10%;
  display: flex;
}

#tbellimg {
  padding: 20%;
  display: flex;
}

// MEDIA QUERIES //

@media screen and (min-width: 200px) {
  .container {
    padding: 2em;
  }

  .wrapper {
    grid-column-gap: 1em;
    grid-row-gap: 2em;
  }

  .triptych {
    grid-column: span 12;
  }

// WORK HERO //

  #workhero {
    padding: 2em 0 0 2em;
  }

  #workimage {
    grid-column: span 12;
    grid-row: span 2;
    align-items: right;
  }

  #worktag{
    border: $white 1px solid;
    padding: 2em;
    grid-column: span 12;
    margin: 2em;

    &h3, p {
      color: $black;
    }
  }

  #warning-msg {
    grid-column: span 12;
    background: $red;
    padding: 2em;
    color: $white;
    border-bottom: $white 5px solid;

    p {
      color: $black;
    }
  }

  //
  // #teocaliimages {
  //   grid-column: 1 / span 6;
  //   grid-row: -2 / span 2;
  //   background-color: $pink;
  // }

  h1 {
    font-size: 1.5em;
  }


  #bio, #intro, #zigzag, #workintro, #workimage, #worktag, #work-butterfliesimg, #work-butterfliestag, #work-lovelusttag, #work-skillshareimg, #work-skillsharetag, #work-skillshareimg {
      grid-column: span 12;
/*      grid-row: 1;
*/  }

    #hat, #heroillo {
      grid-column: span 12;
      padding: 2em;
    }

/*    #hat, #heroillo {
      grid-column: span 12;
      padding: em;
    }
*/

    #butterflies {
      grid-column: 1 / -1;
      grid-row: 1;
  }

    #butterfliescopy {
      grid-column: span 12;
      grid-row: 2;
    }

    #butterfliesimg {
      grid-column: 1 / -1;
      grid-row: 1;
      padding: 10%;
    }

    #tbell {
      grid-column: 1 / -1;
      grid-row: 3;
  }

    #tbellcopy {
      grid-column: span 12;
      grid-row: 4;
    }

    #tbellimg {
      grid-column: 1 / -1;
      grid-row: 3;
      padding: 10%;
    }

    #lovelust {
      grid-column: 1 / -1;
      grid-row: 5;
    }

    #lovelustimg {
      grid-column: 1 / -1;
      grid-row: 5;
      padding: 10%;
    }

    #lovelustcopy {
      grid-column: span 12;
      grid-row: 6;
    }

    #skillshare {
      grid-column: 1 / -1;
      grid-row: 7;
    }

    #skillshareimg {
      grid-column: 1 / -1;
      grid-row: 7;
      padding: 10%;
    }

    #skillsharecopy {
      grid-column: span 12;
      grid-row: 8;
    }

    //WORK PAGE//


    #salondoux {
      grid-column: 1 / -1;
      grid-row: 7;
    }

    #salondouximg {
      grid-column: 1 / -1;
      grid-row: 7;
      padding: 10%;
    }

    #salondouxcopy {
      grid-column: span 12;
      grid-row: 8;
    }

    #ucx {
          grid-column: 1 / -1;
          grid-row: 9;
        }

    #ucximg {
          grid-column: 1 / -1;
          grid-row: 9;
          padding: 10%;
        }

    #ucxcopy {
          grid-column: span 12;
          grid-row: 10;
        }

    #cup {
          grid-column: 1 / -1;
          grid-row: 11;
        }

    #cupimg {
          grid-column: 1 / -1;
          grid-row: 11;
          padding: 10%;
        }

    #cupcopy {
          grid-column: span 12;
          grid-row: 12;
        }
}

@media screen and (min-width: 600px) {

.wrapper {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  }

.container {
  padding: 4em;
}

#workhero {
  padding: 4em 0 0 4em;
}

h1 {
     font-size: 2em;
}

    #butterflies {
      grid-column: 1 / span 6;
      grid-row: 1;
    }

    #butterfliescopy {
      grid-column: span 6;
      grid-row: 2;
    }

    #butterfliesimg {
      grid-column: 1 / span 6;
      grid-row: 1;
    }

    #tbell {
      grid-column: 7 / span 6;
      grid-row: 1;
  }

    #tbellcopy {
      grid-column: span 6;
      grid-row: 2;
    }

    #tbellimg {
      grid-column: 7 / span 6;
      grid-row: 1;
    }

    #lovelust {
      grid-column: 1 / span 6;
      grid-row: 3;
    }

    #lovelustcopy {
      grid-column: span 6;
      grid-row: 4;
    }

    #lovelustimg {
      grid-column: 1 / span 6;
      grid-row: 3;
    }

    #skillshare {
      grid-column: 7 / span 6;
      grid-row: 3;
  }

    #skillsharecopy {
      grid-column: span 6;
      grid-row: 4;
    }

    #skillshareimg {
      grid-column: 7 / span 6;
      grid-row: 3;
    }

    #salondoux {
      grid-column: 1 / span 4;
      grid-row: 5;
  }

    #salondouxcopy {
      grid-column: 1 / span 4;
      grid-row: 6;
    }

    #salondouximg {
      grid-column: 1 / span 4;
      grid-row: 5;
    }

    #ucx {
      grid-column: 5 / span 4;
          grid-row: 5;
        }

    #ucximg {
      grid-column: 5 / span 4;
          grid-row: 5;
          padding: 10%;
        }

    #ucxcopy {
      grid-column: span 4;
          grid-row: 6;
        }
    #cup {
      grid-column: 9 / span 4;
          grid-row: 5;
        }

    #cupimg {
      grid-column: 9 / span 4;
          grid-row: 5;
          padding: 10%;
        }

    #cupcopy {
      grid-column: span 4;
          grid-row: 6;
        }

    .triptych {
      grid-column: span 12;
    }
}

@media screen and (min-width: 1024px) {

  #workintro {
    grid-column: span 8;
    grid-row: 1;
  }

  #workimage {
    grid-column: span 4;
    align-items: flex-end;
    display: flex;
  }

  #worktag {
    grid-column: 2 / 9;
    grid-row: 2;
  }

  #teocalichair {
    grid-column: span 2;
    grid-row: 3 / -1;
  }

  #teocalihands {
    grid-column: span 3;
    grid-row: 3 / -1;
  }

  #teocaliflatlay {
    grid-column: span 3;
    grid-row: 3 / -1;
  }
}

  #work-butterfliesimg {
    grid-column: 1 / span 8;
    grid-row: 1 / 2;
  }

  #work-butterfliestag {
    grid-column: 9 / span 3;
    background: $white;
    grid-row: 1;
    padding: 10%;
  }

  #work-lovelusttag {
    grid-column: 1 / span 4;
    grid-row: 4;
    background-color: $white;
    padding: 10%;
  }

/*  #work-lovelust {
    grid-column: 4 / span 9;
    grid-row: 6 / span 3;
}
*/
  #work-lovelustimg {
    grid-column: 3 / span 6;
    grid-row: 3 / span 3;
  }

  #work-skillsharetag {
    grid-column: 7 / span 4;
    grid-row: 2 / 3;
    background-color: $white;
    padding: 10%;
  }

  #work-skillshareimg {
    grid-column: 1 / span 6;
    grid-row: 2 / 3;
  }

  #work-tbelltag {
    grid-column: 9 / 12;
    grid-row: 8;
    background-color: $white;
    padding: 10%;
  }

  #work-tbellimg {
    grid-column: 7 / span 5;
    grid-row: 8 / span 3;
    padding: 10%;

  }

@media screen and (min-width: 1240px) {
.wrapper {
  grid-column-gap: 2em;
  grid-row-gap: 5em;
  }

  #intro {
    grid-column: span 6;
  }

  #hat {
    grid-column: span 6;
    padding: 2em;
  }

  #bio, #heroillo {
    grid-column: 8 / span 4;
    padding: 0;
  }

  #butterflies {
    grid-column: 5 / span 2;
    grid-row: 1;
  }

  #butterfliescopy {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  #butterfliesimg {
    grid-column: 4 / span 3;
    grid-row: 1;
  }

  #tbell {
    grid-column: 11 / span 2;
    grid-row: 1;
  }

  #tbellcopy {
    grid-column: 7 / span 3;
    grid-row: 1;
  }

  #tbellimg {
    grid-column: 10 / span 3;
    grid-row: 1;
  }


  #lovelust {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  #lovelustcopy {
    grid-column: 4 / span 3;
    grid-row: 2;
  }

  #lovelustimg {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  #skillshare {
    grid-column: 7 / span 2;
    grid-row: 2;
}

  #skillsharecopy {
    grid-column: 10 / span 3;
    grid-row: 2;
  }

  #skillshareimg {
    grid-column: 6 / span 4;
    grid-row: 2;
  }

//   #ucx {
//     grid-column: 1 / span 2;
//     grid-row: 3;
// }
//
//   #ucxcopy {
//     grid-column: 4 / span 3;
//     grid-row: 3;
//   }
//
//   #ucximg {
//     grid-column: 1 / span 4;
//     grid-row: 3;
//   }

  .triptych {
    grid-column: span 4;
  }

}
@media screen and (min-width: 1920px) {
/*//   #lovelust {
//     grid-column: 2 / span 3;
//     grid-row: 1;
//    // text-align: center;
//   }
//
//   #lovelustcopy {
//     grid-column: 8 / span 3;
//     grid-row: 1;
//   }
//
//   #lovelustimg {
//     grid-column: 1 / span 5;
//     grid-row: 1;
//   }
//
//   #skillshare {
//     grid-column: 5 / span 3;
//     grid-row: 2;
// }
//
//   #skillsharecopy {
//     grid-column: 1 / span 3;
//     grid-row: 2;
//   }
//
//   #skillshareimg {
//     grid-column: 4 / span 5;
//     grid-row: 2;
//   }*/
}

// ANIMATION //

@keyframes floating {
    from {
      transform:translate(0, 0px);
  }
    50% {
      transform:translate(0, -30px);
  }
    to {
      transform: translate(0, 0px);
  }
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
