li.inline {
  display: inline;    
}

.clearspace {
  @include clearspace;
}

.zigzag-blue-yellow {
    height: 5em;
    background: 
                linear-gradient(45deg, transparent 50%, $cobalt 50%),
                linear-gradient(90deg, transparent 50%, $yellow 50%),
                linear-gradient(135deg, $cobalt 50%, $curry 50%), 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag-yellow-white {
    height: 5em;
    background: linear-gradient(-45deg, transparent 74%, $curry 75%),
                linear-gradient(45deg, transparent 74%, $yellow 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag-white-grey {
    height: 5em;
    background: 
                linear-gradient(45deg, transparent 50%, $white 50%),
                linear-gradient(90deg, transparent 50%, $light-grey 50%),
                linear-gradient(135deg, $white 50%, $mid-grey 50%), 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag-grey-black {
    height: 5em;
    background: linear-gradient(-45deg, transparent 74%, $mid-grey 75%),
                linear-gradient(45deg, $black 74%, $light-grey 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag-black-pink {
    height: 5em;
    background: 
                linear-gradient(45deg, transparent 50%, $black 50%),
                linear-gradient(90deg, transparent 50%, $pink 50%),
                linear-gradient(135deg, $black 50%, $fuschia 50%), 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag-pink-white {
    height: 5em;
    background: linear-gradient(-45deg, transparent 74%, $fuschia 75%),
                linear-gradient(45deg, $white 74%, $pink 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag-white-blue {
  height: 5em;
  background: 
              linear-gradient(45deg, transparent 50%, $white 50%),
              linear-gradient(90deg, transparent 50%, $cobalt 50%),
              linear-gradient(135deg, $white 50%, $true-blue 50%), 0 50%;
  background-repeat: repeat-x;
  background-size: 5em 5em, 5em 5em;
}

.zigzag-blue-blush {
  height: 5em;
  background: linear-gradient(-45deg, transparent 74%, $true-blue 75%),
              linear-gradient(45deg, $blush-pink 74%, $cobalt 75%) 0 50%;
  background-repeat: repeat-x;
  background-size: 5em 5em, 5em 5em;
}

.zigzag-blush-green {
  height: 5em;
  background: 
              linear-gradient(45deg, transparent 50%, $blush-pink 50%),
              linear-gradient(90deg, transparent 50%, $green 50%),
              linear-gradient(135deg, $blush-pink 50%, $leaf-green 50%), 0 50%;
  background-repeat: repeat-x;
  background-size: 5em 5em, 5em 5em;
}

.zigzag-green-fuschia {
  height: 5em;
  background: linear-gradient(-45deg, transparent 74%, $leaf-green 75%),
              linear-gradient(45deg, $fuschia 74%, $green 75%) 0 50%;
  background-repeat: repeat-x;
  background-size: 5em 5em, 5em 5em;
}



// EXPERIENCE //
#about {
  background: $blush-pink;
  padding-top: 0;

  #about {
  align-items: center;
  display: flex;
  }
}

  @mixin triptych--tablet() {
    .triptych {
    grid-column: span 4;
    }
  }

  .clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto 24px; 

    img {
      display: inline-block;
      min-width: 150px;
      max-height: 150px;
      flex: 0 1;
      padding: 1em;
    }
  }

  .logos {
    grid-column: span 1;
  }

  .grid-calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
  }

  // STAMPS

  .stamp {
    outline: 20px dotted $white;
    outline-offset: -10px;
    background: $light-grey;
    margin: 1em;
    box-shadow: 1px 1px 1px 1px $blush-pink;

  }

  .stub {
    margin: 10rem auto;
    border-radius: 10px;
    max-height: 14rem;
    min-width: 19rem;
    background: radial-gradient(
		transparent 0px, 
		transparent 40px, 
    $yellow 40px,
		$yellow	);
	background-size: 20em 20em;
	background-position: -10em -2.5em;
  }

.stub-content {
    outline: 1px solid $white;
    display: flex;
    text-align:left;
    justify-content: space-between;
    flex-direction: column;
    // border: 1px solid $light-grey;
    padding: .25em 1.5em;
    margin: 1.25em;
    vertical-align: baseline;
  }

  .calendar-item {
    display: flex;
    text-align:left;
    justify-content: space-between;
    flex-direction: column;
    // border: 1px solid $light-grey;
    padding: .25em 1.5em;
    margin: 1.25em;
    vertical-align: baseline;
    background: $white;
  }

  // .cut-out {
  //   $punchSize: 1rem;
    
  //   clip-path: 
  //     polygon(
  //       // 0% $punchSize, 
  //       // $punchSize 0%, 
  //       // calc(100% - #{$punchSize}) 0%, 
  //       // 100% $punchSize, 
  //       // 100% calc(100% - #{$punchSize}), 
  //       // calc(100% - #{$punchSize}) 100%, 
  //       // $punchSize 100%, 
  //       // 0% calc(100% - #{$punchSize})
  //     );
  // }

  .cut-out {
    outline: 6rem dotted $white;
    outline-offset: -1rem;
    overflow: hidden;
}

  .cut-out--nw {
    border-radius: 30px;
    width: 4rem;
    height: 4rem;
    display: block;
    margin-left: -2rem;
    margin-top: -2rem;
    background: $white;
    position: absolute;
  }

  .cut-out--ne {
    border-radius: 30px;
    width: 4rem;
    height: 4rem;
    display: block;
    margin-left: 20rem;
    margin-top: -2rem;
    background: $white;
    position: absolute;
  }

  .cut-out--sw {
    border-radius: 30px;
    width: 4rem;
    height: 4rem;
    display: block;
    margin-left: -2rem;
    margin-top: 11rem;
    background: $white;
    position: absolute;
  }

  .cut-out--se {
    border-radius: 30px;
    width: 4rem;
    height: 4rem;
    display: block;
    margin-left: 20rem;
    margin-top: 11rem;
    background: $white;
    position: absolute;
  }

  .stamp-date {
    width: 7em;
    height: 7em;
    position: absolute;
  }
  .stamp-date text {
  text-transform: uppercase;
  fill: $cobalt;
  font-size: .65em;
  font-family: Courier;
}

.stamp-date path {
  fill: none;
  border: 1px solid $red;}

  .stamp-date svg {
    display: block;
    overflow: visible;
   }

   .stamp--neg10\@m {
    @include screen-m {
    transform: rotate(-10deg);
    }
   }

   .stamp--neg10\@l {
     @include screen-l {
    transform: rotate(-10deg);
  }
   }

   .stamp--neg10\@xl {
    @include screen-xl {
    transform: rotate(-10deg);
    }
   }

   .stamp--neg5\@m {
     @include screen-m {
    transform: rotate(-5deg);
  }
   }

   .stamp--neg5\@l {
     @include screen-l {
    transform: rotate(-5deg);
  } 
  }

   .stamp--neg5\@xl {
    @include screen-xl {
    transform: rotate(-5deg);
    }
   }

   .stamp--10\@m {
    @include screen-m {
      transform: rotate(10deg);
    }
  }

  .stamp--10\@l {
    @include screen-l {
      transform: rotate(10deg);
    }
  }

  .stamp--10\@xl {
    @include screen-xl {
      transform: rotate (10deg);
    }
  }

  .stamp--5\@m {
    @include screen-m {
      transform: rotate(5deg);
    }
  }

  .stamp--5\@l {
    @include screen-l {
      transform: rotate(5deg);
    }
  }

  .stamp--5\@xl {
    @include screen-xl {
      transform: rotate (5deg);
    }
  }

  .stamp--aboveleft {
    margin: -3rem -5rem 0 0;
   }


  .stamp--aboveright {
    margin: 5rem 0 0 12rem;
   }

   .stamp--topright {
    margin: 2rem 0 0 12rem;
   }

   .stamp--midleft {
    margin: 13rem 0 0 -1rem;
   }

   .stamp--btmright {
    margin: 16rem 0 0 10rem;
  }

  .calendar-item {
    display: flex;
    text-align:left;
    justify-content: space-between;
    flex-direction: column;
    // border: 1px solid $light-grey;
    padding: .25em 1.5em;
    margin: 1.25em;
    vertical-align: baseline;
    background: $white;
  }

  .calendar-item-h {
    display: flex;
    text-align:left;
    flex-direction: row;
    border: 1px solid $light-grey;
    padding: .25em 1.5em;
    margin: 1em;
    vertical-align: baseline;
  }

  .calendar-item--stl {
    background: url("https://images.unsplash.com/photo-1424274414501-ce96d567b5c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
    background-size: 100% 100%;
  }

  #contact {
    background: $fuschia;
  }
  
// ANIMATION //

@keyframes floating {
    from {
      transform:translate(0, 0px);
  }
    50% {
      transform:translate(0, -30px);
  }
    to {
      transform: translate(0, 0px);
  }
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}