li.inline {
  display: inline;    
}

.clearspace {
  @include clearspace;
}

.zigzag {
    height: 5em;
    background: 
                linear-gradient(45deg, transparent 50%, $cobalt 50%),
                linear-gradient(90deg, transparent 50%, $yellow 50%),
                linear-gradient(135deg, $cobalt 50%, $curry 50%), 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag2 {
    height: 5em;
    background: linear-gradient(-45deg, transparent 74%, $curry 75%),
                linear-gradient(45deg, transparent 74%, $yellow 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag3 {
    height: 5em;
    background: 
                linear-gradient(45deg, transparent 50%, $white 50%),
                linear-gradient(90deg, transparent 50%, $light-grey 50%),
                linear-gradient(135deg, $white 50%, $mid-grey 50%), 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag4 {
    height: 5em;
    background: linear-gradient(-45deg, transparent 74%, $mid-grey 75%),
                linear-gradient(45deg, $black 74%, $light-grey 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag5 {
    height: 5em;
    background: 
                linear-gradient(45deg, transparent 50%, $black 50%),
                linear-gradient(90deg, transparent 50%, $pink 50%),
                linear-gradient(135deg, $black 50%, $fuschia 50%), 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag6 {
    height: 5em;
    background: linear-gradient(-45deg, transparent 74%, $fuschia 75%),
                linear-gradient(45deg, $blush-pink 74%, $pink 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 5em 5em, 5em 5em;
}

.zigzag7 {
  height: 5em;
  background: 
              linear-gradient(45deg, transparent 50%, $blush-pink 50%),
              linear-gradient(90deg, transparent 50%, $green 50%),
              linear-gradient(135deg, $blush-pink 50%, $leaf-green 50%), 0 50%;
  background-repeat: repeat-x;
  background-size: 5em 5em, 5em 5em;
}

.zigzag8 {
  height: 5em;
  background: linear-gradient(-45deg, transparent 74%, $leaf-green 75%),
              linear-gradient(45deg, $fuschia 74%, $green 75%) 0 50%;
  background-repeat: repeat-x;
  background-size: 5em 5em, 5em 5em;
}



// EXPERIENCE //
#about {
  background: $blush-pink;
  padding-top: 0;
  p {
    color: $black;
  }

  #about {
  align-items: center;
  display: flex;
  }
}

  @mixin triptych--tablet() {
    .triptych {
    grid-column: span 4;
    }
  }

  #contact {
    background: $fuschia;
  }
  
// ANIMATION //

@keyframes floating {
    from {
      transform:translate(0, 0px);
  }
    50% {
      transform:translate(0, -30px);
  }
    to {
      transform: translate(0, 0px);
  }
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}