/*@import url('https://fonts.googleapis.com/css?family=Six+Caps');*/
 @import url('https://fonts.googleapis.com/css?family=Chewy|Overpass+Mono');


.t-inktober-title {
	font-size: 22vw;
	font-family: 'Chewy', Helvetica, sans-serif;
	text-transform: uppercase;
	line-height: .125em;
  
  @include screen-xxs {

	margin: .5vw 0 0 0;
  }

  @include screen-xs {
	margin: 1.5vw 0 0 0;
  }

  @include screen-s {
	margin: 4vw 0 0 0;
  }

  @include screen-m {
	margin: 8vw 0 0 0;
  }

  @include screen-l {
	margin: 15vw 0 0 0;
  }

  @include screen-xl {
	margin: 20vw 0 0 0;
  }
}

.t-inktober-copy {
	font-family: 'Overpass Mono', 'Lucida Console', Courier, monospace;
	color: $black;
}

.t-inktober-number {
	font-family: 'Chewy', Helvetica, sans-serif;
	font-size: 4em;
}

.t-inktober-link {
	color: $primary-color;
	text-decoration: none;
	border-bottom: 1px solid $pink;
}
