
// HERO STYLINGS //

#workhero {
  background: #cbab00;
/* IN CASE I EVER WANT TO HAVE SPLIT IMAGES
 background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 80%, #cbab00), color-stop( 80%, #cbab00), color-stop( 20%, #ffffff) );
  background-image: -webkit-linear-gradient(top, #cbab00 80%, #cbab00 80%, #ffffff 20%);     
  background-image:    -moz-linear-gradient(top, #cbab00 80%, #cbab00 80%, #ffffff 20%);  
  background-image:         linear-gradient(#cbab00 80%, #cbab00 80%, #ffffff 20%); 
*/

}

  @mixin workhero--watch() {
    padding: 2em 0 0 2em;
  }

  @mixin workhero--tablet() {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }

  #workimage {
    grid-column: span 12;
    grid-row: span 2;
    align-items: right;

    @mixin workimage--watch() {
    grid-column: span 4;
    align-items: flex-end;
    display: flex;

    }
  }

#workintro {
  h2 {
  color: $black;
  }
}

@mixin workintro--laptop() {
      grid-column: span 8;
      grid-row: 1;
  }

#worktag{
    border: $white 1px solid;
    padding: 2em;
    grid-column: span 12;
    margin: 2em;

    &h3, p {
      color: $black;
    }

    @mixin worktag--laptop() {
    grid-column: 2 / 9;
    grid-row: 2;
    }
  }

  #warning-msg {
    grid-column: span 12;
    background: $red;
    padding: 2em;
    color: $white;
    border-bottom: $white 5px solid;

    p {
      color: $black;
    }
  }

/*  #teocalichair {
    grid-column: span 2;
    grid-row: 3 / -1;
  }

  #teocalihands {
    grid-column: span 3;
    grid-row: 3 / -1;
  }

  #teocaliflatlay {
    grid-column: span 3;
    grid-row: 3 / -1;
  }
} */

//
// #teocaliimages {
//   grid-column: 1 / span 6;
//   grid-row: -2 / span 2;
//   background-color: $pink;
// }

// WORK STYLINGS //

#lovelust {
  background: #f12711;  /*fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f5af19, #f12711);
  background: linear-gradient(to bottom, #f5af19, #f12711);
  // text-align: center;
}

#skillshare {
  background:  #a6c1ee;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fbc2eb, #a6c1ee);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fbc2eb, #a6c1ee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#butterflies {
  background: #f5576c;
  background: linear-gradient(120deg, #f093fb, #f5576c);
  background: -webkit-linear-gradient(120deg, #f093fb, #f5576c);

}

#tbell {
  background: #B8B8FF;
  background-image: linear-gradient(120deg, #D4D4FF, #B8B8FF);
  background-image: -webkit-linear-gradient(120deg, #D4D4FF, #B8B8FFb);
}

#salondoux {
  background: #fdf2ee;
  background: -webkit-linear-gradient(to right, #fdf2ee, #ffdde1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdf2ee, #ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#ucx {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#cup {
  background: #9D50BB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#lovelustimg, #butterfliesimg, #skillshareimg, #salondouximg {
  padding: 0 10%;
  display: flex;
}

#tbellimg {
  padding: 20%;
  display: flex;
}



#work-butterfliesimg {
    grid-column: 1 / span 8;
    grid-row: 1 / 2;
  }

  #work-butterfliestag {
    grid-column: 9 / span 3;
    background: $white;
    grid-row: 1;
    padding: 10%;
  }

  #work-lovelusttag {
    grid-column: 1 / span 4;
    grid-row: 4;
    background-color: $white;
    padding: 10%;
  }

/*  #work-lovelust {
    grid-column: 4 / span 9;
    grid-row: 6 / span 3;
}
*/
  #work-lovelustimg {
    grid-column: 3 / span 6;
    grid-row: 3 / span 3;
  }

  #work-skillsharetag {
    grid-column: 7 / span 4;
    grid-row: 2 / 3;
    background-color: $white;
    padding: 10%;
  }

  #work-skillshareimg {
    grid-column: 1 / span 6;
    grid-row: 2 / 3;
  }

  #work-tbelltag {
    grid-column: 9 / 12;
    grid-row: 8;
    background-color: $white;
    padding: 10%;
  }

  #work-tbellimg {
    grid-column: 7 / span 5;
    grid-row: 8 / span 3;
    padding: 10%;

  }

