.site-header {
  padding: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: $cobalt;
  display: flex;
  flex-direction: row;
}

.logo {
  display: block;
  position: flex;
  margin: 1em 0 0 1em;
  width: 40px;
 margin: 0 3rem;

  a {
  border-bottom: none;
	}
}

.main-navigation {
  width: 100%
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: flex-end;
}

.navi {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  opacity: 1;
  transition: opacity 200ms ease-out;

  li {
    text-align: center;
    margin: .5rem auto;
  }
}