html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

// GRID THINGS

.quarter {	
	grid-column: span 12;
}

@mixin quarter--tablet() {
	.quarter {
	grid-column: span 6;
	}
}

@mixin quarter--laptop() {
	.quarter {
	grid-column: span 3;
	}
}

@mixin quarter--bigdesktop() {
	.quarter {
	grid-column: span 2;
	}
}

.third {
	grid-column: span 12;
}

@mixin third--tablet() {
	.third {
	grid-column: span 6;
	}
}

@mixin third--laptop() {
	.third {
	grid-column: span 4;
	}
}

.half {
	grid-column: span 12;
}

@mixin half--laptop() {
	.half {
	grid-column: span 6;
	}
}

// PADDING THINGS

.thinpadding {
	padding: $thinspace;
}