html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

.item {	
	grid-column: span 12;
}

@mixin item--tablet() {
	grid-column: span 6;
}

@mixin item--bigdesktop() {
	grid-column: span 3;
}

.skills {
	grid-column: span 12;
}

