html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}




// GRID 

.grid-quarter {
	@include screen-xs {
		@include grid-whole;
	}

	@include screen-s {
		@include grid-half;
	}

	@include screen-m {
		@include grid-quarter;
	}

	@include screen-l {
		@include grid-quarter;
	}

	@include screen-xl {
		@include grid-quarter;
	}
}

.grid-third {
	@include screen-xs {
		@include grid-whole;
	}

	@include screen-s {
		@include grid-half;
	}

	@include screen-m {
		@include grid-third;
	}

	@include screen-l {
		@include grid-third;
	}

	@include screen-xl {
		@include grid-third;
	}
}

.grid-half {
	@include screen-xs {
		@include grid-whole;
	}

	@include screen-s {
		@include grid-half;
	}

	@include screen-m {
		@include grid-half;
	}

	@include screen-l {
		@include grid-half;
	}

	@include screen-xl {
		@include grid-quarter;
	}
}

.grid-whole {
	@include grid-whole;
}

// PADDING THINGS

.thinnpadding {
	@include thinnpadding;
}

.normiepadding {
	@include normiepadding;
}

.thiccpadding {
	@include thiccpadding;
}

// BACKGROUND THINGS

.primarybg {
	background: $primary-color;
}
