@font-face {
    font-family: '05-brother1816-book';
    src: url('fonts/05-brother1816-book-webfont.woff2') format('woff2'),
         url('fonts/05-brother1816-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}