// REUSABLES

.uppercase {
  text-transform: uppercase;
}

.bold {
    font-weight: $bold;
  }

.accentstatement {
  font-size: 2em;
}

.whitetext {
  color: $white;
}

.t-serifweight {
  @include serifweight;
}


.t-thiccfont\@xs {
  @include screen-xs {
    @include thiccfont;
  }
}

.t-thiccfont\@s {
  @include screen-s {
    @include thiccfont;
  }
}

.t-thiccfont\@m {
  @include screen-m {
    @include thiccfont;
  }
}

.t-thiccfont\@l {
  @include screen-l {
    @include thiccfont;
  }
}

.t-thiccfont\@xl {
  @include screen-l {
    @include thiccfont;
  }
}

.t-normiefont\@xs {
  @include screen-xs {
    @include normiefont;
  }
}

.t-normiefont\@s {
  @include screen-s {
  @include normiefont;
  }
}

.t-normiefont\@m {
  @include screen-m {
  @include normiefont;
  }
}

.t-normiefont\@l {
  @include screen-l {
  @include normiefont;
  }
}

.t-normiefont\@xl {
  @include screen-xl {
  @include normiefont;
  }
}

.t-thinnfont\@xs {
  @include screen-xs {
  @include thinnfont;
  }
}

.t-thinnfont\@s {
  @include screen-s {
  @include thinnfont;
  }
}

.t-thinnfont\@m {
  @include screen-m {
  @include thinnfont;
  }
}

.t-thinnfont\@l {
  @include screen-l {
  @include thinnfont;
  }
}

.t-babyfont {
  @include babyfont;
}

.t-thinnfont\@xl {
  @include screen-xl {
    @include thinnfont;
  }
}


body {
      font-family: $sans-serif;
      font-size: 18px; //The smallest it should be!
      line-height: 1.45;
  }

  h2 {
  color: $dark-grey;
  
  }

  h3 {
  font-family: $serif;
  line-height: 1.25em;
  font-weight: $light;
  }


  h4 {
   text-transform: uppercase;
   font-size: .75em;
   font-weight: $regular;
   letter-spacing: .15em;
   border-right: 1px solid $light-grey;
   overflow: hidden;
  }

  h4:after {
  content: "";
  border-bottom: 1px solid $light-grey;
  display: inline-block;
  width:100%; height:100%;
  margin-right:-100%;
  vertical-align: middle;
  }

  .triptych h4 {
    border-color: $pink;
  }

  .triptych h4:after {
  content: "";
  border-bottom: 1px solid $pink;
  display: inline-block;
  width:100%; height:100%;
  margin-right:-100%;
  vertical-align: middle;
  }

  h5 {
    font-family: $serif;
    font-weight: $regular;
    font-size:1.25em;
  }


  p {
    color: $mid-grey;

  &.comingsoon {
      color: $mid-grey;
      text-transform: uppercase;
      font-size: .8em;
      letter-spacing: .05em;
      text-decoration: none;
      padding: 10px 0;
      margin-right: 2em;
      transition: all .2s ease-in;
    }
  }

  .details {
    text-transform: uppercase;
    font-size: .8em;
    color: $dark-grey;
    letter-spacing: .025em;
  }
  .wip {
     font-style: italic;
     color: $mid-grey;
   }

.t-white {
    @include t-white;
}

.t-link-accent {
    @include t-uppercase;
    @include t-link-hover;
    @include t-ltr-spaceout-s;
    line-height: $t-height-extra-loose;
    padding: 10px 0;
    margin-right: 2em;
}

// LISTS

ul.resumelist {
    @include list-clear-style;
    line-height: 1.3;
   
   li {
    font-size: .9em;
    margin-bottom: 10px;

      &.subtitle {
      @include serif;
      color: $cobalt;
      margin-top: 1.5em;
      }
    }
  }

  ul.linklist {
    @include list-clear-style;

    li {
    @include inline-style;
    }

  }