
// COLORS //

$cobalt: #0e4bff;
$citron: #F3F315;

$black: #222222;
$white: #ffffff;
$beige: #F5F4EE;

$dark-grey: #4F4F4F;
$mid-grey: #767676; // the lightest shade of grey you can get away with, #a11y
$light-grey: #eeeeee; // for backgrounds only

$fuschia: #B2098B;
$yellow: #FFD926; /*#FFBC0E; #ffd400;*/
$red: #FF5327;
$pink: #FF0DD1;
$blush-pink: #FFF3F3;
$true-blue: #0531B2; 
$royal-blue: #2159FE;
$gold: #FFBC0E;

$curry: #cbab00;
$dark-curry: #a88d00;
$dusty-rose: #cbab99;

// TYPOGRAPHY //
$sans-serif: brother-1816, Helvetica, sans-serif;
$serif: freight-display-pro, Georgia, serif;
$mono: Courier, mono;

$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// SIZE // 
$watch: 200px;
$tablet: 600px;
$laptop: 1024px;
$desktop: 1290px;
$bigdesktop: 1980px;

// SPACING //

$thinspace: 1em;
$midspace: 2em;
$thickspace: 3em;